<h1>All Categories</h1>
<ul>
  <li>
    <%= link_to 'Films', films_path %>
  </li>
  <li>
    <%= link_to 'Planets', planets_path %>
  </li>
  <li>
    <%= link_to 'Species', species_index_path %>
  </li>
</ul>