<div class="container">
  <h1>All Categories</h1>
  <div class="row">
    <%= render partial: 'film_card', locals: {films: @films} %>
    <%= render partial: 'planet_card', locals: {planets: @planets} %>
    <%= render partial: 'species_card', locals: {species: @species} %>
  </div>
</div>