<div class="col mb-5 d-flex align-items-stretch">
  <div class="card" style="width: 18rem;">
    <h5 class="card-header"><%= planet.name %></h5>
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">Text</p>
      <%= link_to 'Details', planet, class: "btn btn-primary" %>
    </div>
  </div>
</div>