<form class="form-inline my-2 my-lg-0 input-group" action="search" method="get">
  <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="search_term" name="search_term">
  <select class="custom-select" id="search_type" name="search_type">
    <option selected value="0">All Categories</option>
    <option value="1">Films</option>
    <option value="2">Planets</option>
    <option value="3">Species</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </div>
</form>